* {
    margin:0;
    padding:0;
}

body {
    background:#1b1b1b url(../img/bg.png);
    color:#555;
    font:16px "Trebuchet MS", sans-serif;
    line-height:24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font:16px "Trebuchet MS", sans-serif;
    margin-bottom:0;
    margin-top:0;
}

h2 {
    position:relative;
    padding:5px 0;
    color:#777;
    font-size:20px;
    cursor:default;
}

h2 span {
    position:absolute;
    bottom:0;
    right:0;
    font-size:16px;
    font-weight:normal;
}

a {
    color:#555;
    text-decoration:none;
}

a:hover {
    color:#778;
}

.clear {
    clear:both;
}

.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}

.clearfix {
    display:inline-block;
}

* html .clearfix {
    height:1%;
}

.clearfix {
    display:block;
}

.hidden {
    display: none;
}

.click-for-info {
    color: #330;
}

.row > .mobile-row {
    border-top:none;
    padding-top:1.25em;
}

/* all rows following the first mobile-row in the section */
.row ~ .row > .mobile-row {
    border-top:1px solid #333;
    margin-top:1.5em;
}

.section {
    margin:50px 0 0;
    border-top:1px solid #777;
}

.interview a,
.interview a:hover {
    border-bottom:none;
}

.icon {
    display:inline-block;
    font-size:16px;
}

.icon:hover {
    color:#99c;
}

.icon.hold {
    color: rgb(125, 65, 65);
}

.icon.prep {
    color: rgb(65, 125, 65);
}

.icon.wait {
    color: rgb(65, 65, 125);
}

.icon.kill {
    color: rgba(85, 85, 85, 0.5);
}

.icon.contract:hover {
    color:#ff0;
}

.interview .icon {
    width:22px;
    font-size:18px;
    margin-right:5px;
}

.asset {
    float:right;
    margin-left:8px;
    margin-right:0;
    width:16px;
}

.location,
.network {
    margin-left:4px;
    margin-right:0;
}

.count:hover {
    color:#999;
}

.last {
    top:5px;
    color:#555;
}

.interviewing {
    color:#797;
}

.declined,
.abandoned,
.rejected {
    color:#3c3c3c;
}

.declined {
    text-decoration:line-through;
}

.generate:hover {
    color:#778;
}

.tooltip-container:hover .tooltip {
    display:block;
}
  
.tooltip {
    display: none;
    left: 2rem;
    position: absolute;
    z-index: 1000;
}

#info-panel {
    background: #ff0;
    bottom: 0;
    display: none;
    left: 0;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

footer {
    height:100px;
}