* {
    margin:0;
    padding:0;
}

body {
    background-color:#333;
    font-family:"Trebuchet MS", sans-serif;
}

.hidden {
    display:none;
}

.centered {
    text-align:center;
}

.right {
    text-align:right;
}

h2 {
    font-size:14pt;
    border-top:1pt solid #fff;
    border-bottom:1pt solid #fff;
    background-color:#eee;
    padding:10px 0;
    margin:0 -50px;
    font-weight:normal;
}

h3 {
    font-size:12pt;
}

ul,
ol {
    margin-top:8px;
}

ul {
    margin-left:30px;
}

ol {
    margin-left:35px;
}

li {
    font-size:12pt;
    margin-left:1em;
}

pre {
    font-size:10pt;
}

.container {
    background-color:#ccc;
    border-left:2px solid #888;
    border-right:2px solid #888;
    margin:0 auto;
    min-height:662px;
    padding:80px 50px;
    position:relative;
    width:900px;
}

.tag {
    background:#f00;
    -moz-box-shadow:-4px 2px 4px #333;
    -khtml-box-shadow:-4px 2px 4px #333;
    -webkit-box-shadow:-4px 2px 4px #333;
    box-shadow:-4px 2px 4px #333;
    -moz-border-radius:2px 10px 10px 2px;
    -khtml-border-radius:2px 10px 10px 2px;
    -webkit-border-radius:2px 10px 10px 2px;
    border-radius:2px 10px 10px 2px;
    color:#fff;
    font-size:14pt;
    margin:0;
    padding:10px 25px;
    position:relative;
    left:-60px;
    top:-55px;
}

.date {
    margin:-20px 0 20px;
    padding-left:1em;
    text-indent:-1em;
    font:24pt Georgia;
}

.icon {
    position:absolute;
    top:80px;
    right:10px;
    width:128px;
    height:128px;
}

.recruiter {
    background-image:url(../img/recruiter.png);
}

.code {
    background-image:url(../img/code.png);
}

.phone {
    background-image:url(../img/phone.png);
}

.face {
    background-image:url(../img/face.png);
}

.contract {
    background-image:url(../img/contract.png);
}

.content {
    font-size:12pt;
    width:750px;
    margin:25px auto;
    padding:0 50px;
}

.block {
    margin-bottom:25px;
    padding-bottom:25px;
    border-bottom:1px solid #e3e3e3;
}

.block:last-child {
    border-bottom:none;
}

.asked {
    color:#888;
}

.answer {
    color:#090;
    margin-bottom:10px;
    list-style-type:none;
}

.email {
    font-size:10pt;
    font-style:italic;
}

.aide h3,
.toggle-aide {
    cursor:pointer;
}

.toggle-aide li {
    margin:-8px 0 8px;
}
